.ListUser:hover{
  background-color: rgb(88, 218, 88);
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 8%;
}
.green{
  color: rgb(88, 218, 88);
}
.card{
  margin-left: 35%;
}